body {
  /* text-align: center;
  justify-content: center; */
  /* min-height: 100vh; */
}

.title {
  background-color: rgb(87, 228, 253);
}

.mainPhoto {
  height: 300px;
  margin: 0 auto;
  border-radius: 16px;
}

.head {
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.display-4 {
  background-color: rgb(203, 155, 245);
  border-radius: 8px;
}